<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,CedeiraEx" />
	</configSections>
	<exceptionManagement mode="on">
		<publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MessageExceptionPublisher" exclude="*"/>
		<publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MailExceptionPublisher" include="*" exclude="+Microsoft.ApplicationBlocks.ExceptionManagement.Validaciones.BaseApplicationException" operatorMail="pablo.conde@cedeira.com.ar"/>
	</exceptionManagement>
	<appSettings>
		<!-- Cultura -->
		<add key="Cultura" value="en-GB" />
		<add key="CulturaDateTimeFormat" value="es-AR" />

		<!-- String de conexión a base de datos de la aplicación. CnnStr WINDOWS 7 -->
		<!-- Con seguridad integrada: "integrated security=SSPI;" y con usuario de SQL ( "User ID=xxxxxxxxx;Password=xxxxxxxx;" ) -->
		<add key="CnnStr" value="integrated security=SSPI;data source=.\SQLEXPRESS;persist security info=False;initial catalog=eFact-R" />

		<!-- String de conexión a base de datos de la aplicación externa. (NO USAR)-->
		<add key="CnnStrAplicExterna" value="Provider=SQLOLEDB;integrated security=SSPI;data source=.\SQLEXPRESS;persist security info=False;initial catalog=eFact-R" />

		<!-- Origen de los datos -->
		<!--    Crear automáticamente todos los directorios de Origen de datos. -->
		<!--    Valores posibles ( "SI" / "" ) -->
		<add key="CrearDirectorios" value="" />
		<!--    Valores posibles ( Nombre del directorio del cual se procesan las interfaces ) -->
		<add key="ArchPath" value="C:\eFact-R\Datos\" />
		<!--    Valores posibles ( Nombre del directorio archivos históricos ) -->
		<add key="ArchPathHis" value="C:\eFact-R\Datos\His\" />
		<!--    Valores posibles ( Nombre del directorio de interfaces manuales ) -->
		<add key="ArchPathItf" value="C:\eFact-R\Datos\Itf\" />
		<!--    Valores posibles ( Nombre del directorio de comprobantes en formato PDFs ) -->
		<add key="ArchPathPDF" value="C:\eFact-R\Datos\PDF\" />
		<!--    Valores posibles ( Nombre del directorio de interfaces automáticas con las respuestas de los CAEs obtenidos desde la AFIP ) -->
		<add key="ArchPathItfAut" value="C:\eFact-R\Datos\ItfAut\" />

		<!-- Formato de la Intefaz automáticas con las respuestas de los CAEs obtenidos desde la AFIP. -->
		<!-- Valores posible ( "XML" / "TXT" / "NONE" ) -->
		<add key="TipoItfAut" value="TXT" />
		
		<!-- Otros filtros -->
		<!--    Valores posibles ( informar el numero de cuit / "" ) -->
		<add key="OtrosFiltrosCuit" value="" />
		
		<!-- Datos varios -->
		<add key="Propietario" value="Factura Electronica" />
		<add key="NombreAplic" value="Factura Electronica ( Interface TXT )" />

		<!-- Código de Tipo de aplicación -->
		<add key="CodigoAplic" value="eFactInterface" />

		<!-- Autenticación -->
		<add key="Autenticacion" value="NONE" />
		<!-- DESA = https://wsqacfe.interfacturas.com.ar/ws/FacturaWebServiceConSchema o PROD = https://srv1.interfacturas.com.ar/ws/FacturaWebServiceConSchema -->
		<add key="URLinterfacturas" value="https://wsqacfe.interfacturas.com.ar/ws/FacturaWebServiceConSchema" />
		<add key="Proxy" value="" />
		<add key="UsuarioProxy" value="" />
		<add key="ClaveProxy" value="" />
		<add key="DominioProxy" value="" />

		<!-- Servicio de correos -->
		<!--    Valores posibles ( Nombre del servidor de correos SMTP / "") -->
		<add key="MailServidorSmtp" value="mail.cedeira.com.ar" />
		<!--    Valores posibles ( Nombre del usuario / "" ) -->
		<add key="MailCredencialesUsr" value="pablo.conde@cedeira.com.ar" />
		<!--    Valores posibles ( Clave del usuario / "" ) -->
		<add key="MailCredencialesPsw" value="qwe123" />
		<!--    Valores posibles ( Mail para avisar cuando el servicio se inicia y cuando se detiene / "" ) -->
		<add key="MailTest" value="pablo.conde@cedeira.com.ar" />

		<!-- Certificados ( StoreLocation ) -->
		<!--    Valores posibles ( "CurrentUser" / "LocalMachine") -->
		<add key="StoreLocation" value="CurrentUser" />

		<!-- Cuit Canal -->
		<add key="CuitCanal" value="30690783521" />
	</appSettings>
</configuration>