html, body, #wrapper 
{
	background-color:White;
	border: none;
	font-family:Arial;
	font-size:small;
	margin: 0px;
	position: relative;
	border: none;
	text-align: center;
}
#wrapper 
{
	text-align:left;
	margin: 0 auto;
	width:100%;
	vertical-align:top;
	table-layout:inherit;
    overflow:scroll;
    padding:0;
}
.DataWebControlStyle
{
    font-size: 80%;
    text-align: right;
}
.HeaderStyle
{
    background-color:#FF6600;
    font-weight: bold;
    color:White;
    text-align: center;
}
.FooterStyle
{
    background-color: #FF6600;
    color: White;
}

.AlternatingRowStyle
{
    background-color:#FFF8DC;  
}
.RowStyle
{
	width:200px;
	text-align:right;
	max-width:200px;
	color: Black;
}
.SelectedRowStyle
{
    background-color: #FF6600;
    color:White;
}
.PagerStyle
{
	background-color:#FF6600;
	color:White;
	text-align:left;
}
.HeaderStyleGrid
{
    background-color:#FF6600;
    font-weight: bold;
    color:White;
    text-align: center;
}
.FooterStyleGrid
{
    background-color: #FF6600;
    color: White;
}
.AlternatingRowStyleGrid
{
    background-color:#E1DED7;  
}

.RowStyleGrid
{
	width:200px;
	text-align:right;
	max-width:200px;
	color: Black;
}

.SelectedRowStyleGrid
{
    background-color: #A52A2A;
    color:White;
}
.PagerStyleGrid
{
	background-color: #A52A2A;
	color: White;
	text-align:left;
}
.DataWebControlStyleGrid
{
    font-size: 80%;
    text-align: right;
}
A:link {text-decoration: none; color: navy;}
A:visited {text-decoration: none; color: navy;}
A:active {text-decoration: none; color: navy;}
A:hover {text-decoration: none; color: red;}
.TextoResaltado
{
	font-weight: bold;
	color: black;
	font-size: 12px;
	font-family: Arial;
	font-style: normal;
}
.TextoComun
{
	position: relative;
	border: 0px;
	padding-top: 0px; 
	font-weight: normal;
	color: black;
	font-size: 12px;
	font-family: Arial;
	font-style: normal;
}
.TextComunSinPosicion
{
	font-weight: normal;
	color: black;
	font-size: 12px;
	font-family: Arial;
	font-style: normal;
}
.linkMenu
{
	font-weight: bold;
	color: #696969;
	font-size: 22px;
	font-family: Comic Sans MS;
	font-style: normal;
}
.linkMenuSeparador
{
	font-weight: bold;
	color: gray;
	font-size: medium;
	font-family: Arial;
	font-style: normal;
}
