<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,CedeiraEx" />
	</configSections>
	<exceptionManagement mode="on">
		<publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MessageExceptionPublisher" include="*"/>
		<publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MailExceptionPublisher" exclude="+Microsoft.ApplicationBlocks.ExceptionManagement.Validaciones.BaseApplicationException" operatorMail="pjeconde@gmail.com"/>
	</exceptionManagement>
	<appSettings>
		<!--Cultura-->
		<add key="Cultura" value="en-GB" />

		<!--DESARROLLO-->
		<add key="CnnStr" value="integrated security=SSPI;data source=.\SQLEXPRESS;persist security info=False;initial catalog=eFact-R" />
		<add key="CnnStrAplicExterna" value="integrated security=SSPI;data source=.\SQLEXPRESS;persist security info=False;initial catalog=GASPATAGONIA" />
		<add key="ArchPath" value="C:\eFact-R\Datos\" />

		<add key="Propietario" value="Schneider" />
		<add key="NombreAplic" value="Factura Electronica ( Interface Bejerman )" />
		<!--Aplicacion<add key="CodigoAplic" value="eFactAccess" />-->
		<add key="CodigoAplic" value="eFactI-Bj" />

		<add key="Autenticacion" value="NONE" />

		<!--Testing "true" o "false"/>-->
		<add key="Testing" value="false" />
		
		<!--<add key="Modalidad" value="Automatica" />-->
		<add key="Modalidad" value="Manual" />
		<add key="MachineName" value="POL-VTB-XP" />
		<add key="ServiceName" value="CedSTcaptura" />
		<add key="Email" value="pjeconde@gmail.com" />
    <!-- Cuit Canal -->
    <add key="CuitCanal" value="30690783521" />
	</appSettings>
</configuration>