<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,CedeiraEx" />
  </configSections>
  <exceptionManagement mode="on">
    <publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MessageExceptionPublisher" include="*"/>
    <publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MailExceptionPublisher" exclude="+Microsoft.ApplicationBlocks.ExceptionManagement.Validaciones.BaseApplicationException" operatorMail="pablo.conde@cedeira.com.ar"/>
  </exceptionManagement>
  <appSettings>
	  <!-- Cultura -->
	  <add key="Cultura" value="en-GB" />

	  <!-- DESARROLLO -->
    <!-- String de conexión a base de datos de la aplicación. CnnStr VISTA 
	  <add key="CnnStr" value="integrated security=SSPI;data source=POL-VISTA-VTB\SQLEXPRESS;persist security info=False;initial catalog=eFact-R" />
    -->
    <!-- String de conexión a base de datos de la aplicación. CnnStr WINDOWS 7 -->
    <add key="CnnStr" value="integrated security=SSPI;data source=POL7\SQLEXPRESS;persist security info=False;initial catalog=eFact-R" />
    
    <!-- String de conexión a base de datos de la aplicación externa. -->
    <add key="CnnStrAplicExterna" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=" />
    <add key="ArchDb" value="Enviar.mdb" />
    
    <!-- Origen de los datos -->
    <!--    Valores posibles ( Nombre del directorio del cual se procesan las interfaces ) -->
    <add key="ArchPath" value="C:\eFact-R\Datos\" />
    <!--    Valores posibles ( Nombre del directorio archivos históricos ) -->
    <add key="ArchPathHis" value="C:\eFact-R\Datos\His\" />
    <!--    Valores posibles ( Nombre del directorio de interfaces manuales ) -->
    <add key="ArchPathItf" value="C:\eFact-R\Datos\Itf\" />
    <!--    Valores posibles ( Nombre del directorio de comprobantes en formato PDFs ) -->
    <add key="ArchPathPDF" value="C:\eFact-R\Datos\PDF\" />
    <!--    Valores posibles ( Nombre del directorio de interfaces automáticas con las respuestas de los CAEs obtenidos desde la AFIP ) -->
    <add key="ArchPathItfAut" value="C:\eFact-R\Datos\ItfAut\" />

    <!-- Formato de la Intefaz automáticas con las respuestas de los CAEs obtenidos desde la AFIP. -->
    <!-- Valores posible ( "XML" / "TXT" / "NONE" ) -->
    <add key="TipoItfAut" value="TXT" />

    <!-- Datos varios -->
    <add key="Propietario" value="AMANCAY" />
    <add key="NombreAplic" value="Factura Electronica ( Interface TXT )" />
    
    <!-- Código de Tipo de aplicación -->
    <add key="CodigoAplic" value="eFactInterface" />
	
	  <!-- Otros filtros -->
    <!--    Valores posibles ( "SI" / "" ) -->
    <add key="OtrosFiltrosArchivos" value="SI" />
    <!--    Valores posibles ( informar el numero de cuit / "" ) -->
    <add key="OtrosFiltrosCuit" value="" />
    <!--    Valores posibles ( informar el punto de venta / "" ) -->
    <!--    Ejemplo de formato punto de venta: "0001" -->
	  <add key="OtrosFiltrosPuntoVta" value="" />

    <!-- Autenticación -->
	  <add key="Autenticacion" value="NONE" />
    
    <!-- Servicio de automatización -->
    <!--    Valores posibles ( "Automatica" / "Manual" ) -->
	  <add key="Modalidad" value="Manual" />
    <!--    Valores posibles ( Nombre del servidor ) -->
    <add key="MachineName" value="POL-VTB-XP" />
    <!--    Valores posibles ( Nombre del servicio ) -->
    <add key="ServiceName" value="eFact-Aut" />

    <!-- Servicio de correos -->
    <!--    Valores posibles ( Nombre del servidor de correos SMTP / "") -->
    <add key="MailServidorSmtp" value="mail.cedeira.com.ar" />
    <!--    Valores posibles ( Nombre del usuario / "" ) -->
    <add key="MailCredencialesUsr" value="facturaelectronica@cedeira.com.ar" />
    <!--    Valores posibles ( Clave del usuario / "" ) -->
    <add key="MailCredencialesPsw" value="cedeira123" />
  
  </appSettings>
</configuration>