<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,CedeiraEx" />
  </configSections>
  <exceptionManagement mode="on">
    <publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MessageExceptionPublisher" include="*"/>
    <publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MailExceptionPublisher" exclude="+Microsoft.ApplicationBlocks.ExceptionManagement.Validaciones.BaseApplicationException" operatorMail="pablo.conde@cedeira.com.ar"/>
  </exceptionManagement>
  <appSettings>
	<!--Cultura-->
	<add key="Cultura" value="en-GB" />

	<!--DESARROLLO-->
    <add key="CnnStr" value="integrated security=SSPI;data source=POL-VISTA-VTB\SQLEXPRESS;persist security info=False;initial catalog=eFact-R" />
    <add key="CnnStrAplicExterna" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=" />
    <add key="ArchDb" value="Enviar.mdb" />
    <add key="ArchPath" value="C:\eFact-R\Datos\" />
    <add key="ArchPathHis" value="C:\eFact-R\Datos\His\" />
    <add key="ArchPathItf" value="C:\eFact-R\Datos\Itf\" />
    <add key="ArchPathItfAut" value="C:\eFact-R\Datos\ItfAut\" />
	<add key="TipoItfAut" value="XML" />
	<!-- XML / TXT / NONE -->
	<add key="ArchPathPDF" value="C:\eFact-R\Datos\PDF\" />

	<add key="Propietario" value="Ferre Total" />
    <add key="NombreAplic" value="Factura Electronica ( Interface TXT )" />
    <!--Aplicacion<add key="CodigoAplic" value="eFactAccess" />-->
    <add key="CodigoAplic" value="eFactInterface" />
	
	<!--OTROS FILTROS-->
    <add key="OtrosFiltrosCuit" value="" />
	<add key="OtrosFiltrosPuntoVta" value="" />
	  
	<add key="Autenticacion" value="NONE" />
	  
	<!--<add key="Modalidad" value="Automatica" />-->
	<add key="Modalidad" value="Manual" />
	<add key="MachineName" value="POL-VTB-XP" />
    <add key="ServiceName" value="CedSTcaptura" />
    <add key="Email" value="pjeconde@gmail.com" />
  </appSettings>
</configuration>