<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Cultura -->
		<add key="Cultura" value="en-GB" />
		<add key="CulturaDateTimeFormat" value="es-AR" />
		
		<add key="CnnStr1" value="Provider=DB2OLEDB;Network Transport Library=TCPIP;Network Address=xxx.xxx.xxx.xxx;Initial Catalog=MyCtlg;Package Collection=MyPkgCol;Default Schema=Schema;User ID=myUsername;Password=myPassword;" />
		<add key="CnnStr2" value="Provider=IBMDADB2; Database=myDataBase;Hostname=myServerAddress; Protocol = TCPIP; Port = 50000; Uid = myUsername; Pwd = myPassword;" />
		<add key="CnnStr3" value="Provider=IBMDA400.1;Data Source=TEST;User ID=db2user;Password=db2user;Default Collection =SAMPLEDB" />
	</appSettings>	
</configuration>