<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,CedeiraEx" />
	</configSections>
	<exceptionManagement mode="on">
		<publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MessageExceptionPublisher" include="*"/>
		<publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MailExceptionPublisher" exclude="+Microsoft.ApplicationBlocks.ExceptionManagement.Validaciones.BaseApplicationException" operatorMail="pablo.conde@cedeira.com.ar"/>
	</exceptionManagement>
	<appSettings>
		<!-- Cultura -->
		<add key="Cultura" value="en-GB" />
		<add key="CulturaDateTimeFormat" value="es-AR" />
		
		<!-- DESA = https://wsqacfe.interfacturas.com.ar/ws/FacturaWebServiceConSchema o PROD = https://srv1.interfacturas.com.ar/ws/FacturaWebServiceConSchema -->
		<add key="URLinterfacturas" value="https://srv1.interfacturas.com.ar/ws/FacturaWebServiceConSchema" />
		<add key="Proxy" value="" />
		<add key="UsuarioProxy" value="" />
		<add key="ClaveProxy" value="" />
		<add key="DominioProxy" value="" />

		<add key="CertificadoNroSerie" value="012bd63269ab" />

		<!-- Consulta de Lote -->
		<add key="CuitVendedor" value="" />
		<add key="PuntoVenta" value="" />
		<add key="NumeroLote" value="" />
		
		<!-- Certificados ( StoreLocation ) -->
		<!--    Valores posibles ( "CurrentUser" / "LocalMachine") -->
		<add key="StoreLocation" value="CurrentUser" />

		<!-- Cuit Canal -->
		<add key="CuitCanal" value="30690783521" />
	</appSettings>
</configuration>