<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CedWebRN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Proxy" value="proxy01"/>
    <add key="UsuarioProxy" value="L0737860"/>
    <add key="DominioProxy" value="BGCMZ"/>
    <add key="ClaveProxy" value="92929292"/>
    <add key="URLinterfacturas" value="https://qacfe.interbanking.com.ar/ws/FacturaWebServiceConSchema?WSDL"/>
  </appSettings>
  <applicationSettings>
    <CedWebRN.Properties.Settings>
      <setting name="CedWebRN_IBK_FacturaWebServiceConSchemaSoapBindingQSService" serializeAs="String">
        <value>https://qacfe.interbanking.com.ar/ws/FacturaWebServiceConSchema</value>
        <!--<value>https://srv1.interfacturas.com.ar/ws/FacturaWebServiceConSchema</value>-->
      </setting>
    </CedWebRN.Properties.Settings>
  </applicationSettings>
  <connectionStrings/>
  <system.web>
        <compilation debug="false" defaultLanguage="c#" />
        <authentication mode="None" />
    </system.web>
</configuration>
